html.wp-toolbar{
    padding-top: 0px;
}
/** A dividing horizontal rule **/
hr.div {
    background: #CCC;
    height: 1px;
    border: none;
    margin: 10px 0;
}

/** Button Style */
.calibrefx-h2-button {
    margin: 0 0 0 4px;
    position: relative;
    top: -3px;
}

/** Metabox Styles **/
.calibrefx-metaboxes{
    width: 100%;
    padding-bottom: 20px;
}

.calibrefx-metaboxes span{
    display: block;
}


.calibrefx-metaboxes input[type=text], .calibrefx-metaboxes textarea{
    display: block;
	width: 100%;
}

.calibrefx-submit-button{
    margin-top: 10px;
}

.main-postbox, .side-postbox{
    width: 48%;
    float: left;
    margin: 0 10px;
}

.main-postbox-wider{
    width: 60%;
    float: left;
    margin: 0 10px;
}

.calibrefx-layout-selector input {
    display: none;
    text-align: center;
}
.calibrefx-layout-selector input#default-layout {
    display: inline;
}
.calibrefx-layout-selector label.box {
    display: block;
    float: left;
    margin: 10px 10px 10px 0;
    text-align: center;
}
.calibrefx-layout-selector label.box img {
    max-width: 85px;
    border: 3px solid transparent;
    margin-bottom: 5px;
}
.calibrefx-layout-selector label.box img:hover {
    border: 3px solid #ddd;
}
.calibrefx-layout-selector label.box.selected img {
    border: 3px solid #ccc;
}

/** Admin Bar Style **/
body.admin-bar #wpcontent, body.admin-bar #adminmenu { padding: 0px !important; }
#adminmenu {font-family: Arial, Tahoma, Sans-Serif; }
#adminmenu a.menu-top{font-weight:normal;}
#adminmenu .wp-submenu a{padding-left:8px;}
#adminmenu .wp-submenu ul{padding:0;}
#adminmenuwrap{padding-top: 0px;}
#adminmenushadow, #adminmenuback{background-image:none !important;}
.wp-submenu li{border-top:1px solid #f1f1f1;}
.wp-submenu li.wp-first-item{border-top:0;}
.wp-submenu li.current, 
.wp-submenu li.current a{background:#f5f5f5;}
#wpwrap{padding-top:60px;}
#wpcontent			{ margin-left: 146px; }
.folded #wpcontent	{ margin-left: 33px; }
.update-nag			{ display:none; }
li.wp-menu-separator{  }
#wpbody {margin-left: 15px; margin-right: 15px;}
#wpbody-content .wrap{ margin-right: 0px;}
#footer				{ margin-left: 146px; margin-right: 0px;}
.folded #footer		{ margin-left: 33px; }
#footer .alignleft	{ margin-left: 15px; }
#footer .alignright	{ margin-right: 15px; }
#screen-meta {margin: 0;}
#wpwrap {
    padding-top: 60px;
}

#wpadminbar { display: none; }

#calibrefx-admin-bar-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height:60px;
    width: 100%;
    font-family: Arial, Tahoma, 'Trebuchet MS', Sans-Serif; 
    font-size: 13px/28px;
    color: #CCCCCC;
    overflow: hidden;
}

#calibrefx-admin-bar{
    z-index: 99999;
    width: 100%;
    position: fixed; top: 0px;
}

#calibrefx-admin-bar.sticky{
    z-index:99999;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 4px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 4px; 
    -khtml-box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 4px; 
    box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 4px;
	height: 59px;
}

#calibrefx-admin-bar-logo{
    float:left;
    margin-right:15px;
    background:url(../img/calibrefx-menu-bar.png) no-repeat left top;
}

.folded #calibrefx-admin-bar-logo{
    width: 33px;
    background-position:right top;
}

@media (max-width: 900px){
	#calibrefx-admin-bar-logo{
		width: 33px;
		background-position:right top;
	}
}

#calibrefx-admin-bar-logo a{
    display: block;
    height: 59px;
    width: 146px;
    text-decoration:none;
}

.folded #calibrefx-admin-bar-logo a{
    width: 33px;
}

.admin-color-fresh #calibrefx-admin-bar-logo{
    background-color: #ECECEC;
}

#calibrefx-admin-bar-menu{
    display: block;
    height:30px;
    border-top: 1px solid #fff;
    z-index:99999;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
}
#calibrefx-admin-bar-menu ul{
    margin: 0;
    padding: 6px 0 0 15px;
    list-style:none;
}

#calibrefx-admin-bar-top * {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    position: static;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    font: normal 13px/28px sans-serif;
    color: #ccc;
    text-shadow: #444 0px -1px 0px;
}

#calibrefx-admin-bar-top ul li:before,
#calibrefx-admin-bar-top ul li:after {
    content: normal;
}

#calibrefx-admin-bar-top a,
#calibrefx-admin-bar-top a:hover,
#calibrefx-admin-bar-top a img,
#calibrefx-admin-bar-top a img:hover {
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
}

#calibrefx-admin-bar-top {
    direction: ltr;
    color: #ccc;
    font: normal 13px/28px sans-serif;
    height: 28px;
    width: 100%;
    min-width: 600px; /* match the min-width of the body in wp-admin.css */
    z-index: 99999;

    background-color: #464646; /* Fallback */
    background-image: -ms-linear-gradient(bottom, #373737, #464646 5px); /* IE10 */
    background-image: -moz-linear-gradient(bottom, #373737, #464646 5px); /* Firefox */
    background-image: -o-linear-gradient(bottom, #373737, #464646 5px); /* Opera */
    background-image: -webkit-gradient(linear, left bottom, left top, from(#373737), to(#464646)); /* old Webkit */
    background-image: -webkit-linear-gradient(bottom, #373737, #464646 5px); /* new Webkit */
    background-image: linear-gradient(bottom, #373737, #464646 5px); /* proposed W3C Markup */
}


#calibrefx-admin-bar-top .ab-sub-wrapper,
#calibrefx-admin-bar-top ul,
#calibrefx-admin-bar-top ul li {
    background: none;
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 99999;
}

#calibrefx-admin-bar-top .quicklinks {
    border-left: 1px solid transparent;
}

#calibrefx-admin-bar-top .quicklinks ul {
    text-align: left;
}

#calibrefx-admin-bar-top li {
    float: left;
}

#calibrefx-admin-bar-top .ab-empty-item {
    outline: none;
}

#calibrefx-admin-bar-top .quicklinks > ul > li {
    border-right: 1px solid #555;
}

#calibrefx-admin-bar-top .quicklinks > ul > li > a,
#calibrefx-admin-bar-top .quicklinks > ul > li > .ab-empty-item {
    border-right: 1px solid #333;
}

#calibrefx-admin-bar-top .quicklinks .ab-top-secondary > li {
    border-left: 1px solid #333;
    border-right: 0;
    float: right;
}

#calibrefx-admin-bar-top .quicklinks .ab-top-secondary > li > a,
#calibrefx-admin-bar-top .quicklinks .ab-top-secondary > li > .ab-empty-item {
    border-left: 1px solid #555;
    border-right: 0;
}

#calibrefx-admin-bar-top .quicklinks a,
#calibrefx-admin-bar-top .quicklinks .ab-empty-item,
#calibrefx-admin-bar-top .shortlink-input {
    height: 28px;
    display: block;
    padding: 0 12px;
    margin: 0;
}

#calibrefx-admin-bar-top .menupop .ab-sub-wrapper,
#calibrefx-admin-bar-top .shortlink-input {
    margin: 0 0 0 -1px;
    padding: 0;
    -moz-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    background: #fff;
    display: none;
    position: absolute;
    float: none;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #dfdfdf;
}

#calibrefx-admin-bar-top.ie7 .menupop .ab-sub-wrapper,
#calibrefx-admin-bar-top.ie7 .shortlink-input {
    top: 28px;
    left: 0;
}

#calibrefx-admin-bar-top .ab-top-secondary .menupop .ab-sub-wrapper {
    right: 0;
    left: auto;
    margin: 0 -1px 0 0;
}

#calibrefx-admin-bar-top .ab-sub-wrapper > .ab-submenu:first-child {
    border-top: none;
}

#calibrefx-admin-bar-top .ab-submenu {
    padding: 6px 0;
    border-top: 1px solid #dfdfdf;
}

#calibrefx-admin-bar-top .selected .shortlink-input {
    display: block;
}

#calibrefx-admin-bar-top .quicklinks .menupop ul li {
    float: none;
}

#calibrefx-admin-bar-top .quicklinks .menupop ul li a strong {
    font-weight: bold;
}

#calibrefx-admin-bar-top .quicklinks .menupop ul li .ab-item,
#calibrefx-admin-bar-top .quicklinks .menupop ul li a strong,
#calibrefx-admin-bar-top .quicklinks .menupop.hover ul li .ab-item,
#calibrefx-admin-bar-top.nojs .quicklinks .menupop:hover ul li .ab-item,
#calibrefx-admin-bar-top .shortlink-input {
    line-height: 26px;
    height: 26px;
    text-shadow: none;
    white-space: nowrap;
    min-width: 140px;
}

#calibrefx-admin-bar-top .shortlink-input {
    width: 200px;
}

#calibrefx-admin-bar-top.nojs li:hover > .ab-sub-wrapper,
#calibrefx-admin-bar-top li.hover > .ab-sub-wrapper {
    display: block;
}

#calibrefx-admin-bar-top .menupop li:hover > .ab-sub-wrapper,
#calibrefx-admin-bar-top .menupop li.hover > .ab-sub-wrapper {
    margin-left: 100%;
    margin-top: -33px;
    border-width: 1px;
}

#calibrefx-admin-bar-top .ab-top-secondary .menupop li:hover > .ab-sub-wrapper,
#calibrefx-admin-bar-top .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
    margin-left: 0;
    left: inherit;
    right: 100%;
}

#calibrefx-admin-bar-top .ab-top-menu > li:hover > .ab-item,
#calibrefx-admin-bar-top .ab-top-menu > li.hover > .ab-item,
#calibrefx-admin-bar-top .ab-top-menu > li > .ab-item:focus,
#calibrefx-admin-bar-top.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
    color: #fafafa;
    background-color: #3a3a3a; /* Fallback */
    background-image: -ms-linear-gradient(bottom, #3a3a3a, #222); /* IE10 */
    background-image: -moz-linear-gradient(bottom, #3a3a3a, #222); /* Firefox */
    background-image: -o-linear-gradient(bottom, #3a3a3a, #222); /* Opera */
    background-image: -webkit-gradient(linear, left bottom, left top, from(#3a3a3a), to(#222)); /* old Webkit */
    background-image: -webkit-linear-gradient(bottom, #3a3a3a, #222); /* new Webkit */
    background-image: linear-gradient(bottom, #3a3a3a, #222); /* proposed W3C Markup */
}

#calibrefx-admin-bar-top.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#calibrefx-admin-bar-top .ab-top-menu > li.menupop.hover > .ab-item {
    background: #fff;
    color: #333;
    text-shadow: none;
}

#calibrefx-admin-bar-top .hover .ab-label,
#calibrefx-admin-bar-top.nojq .ab-item:focus .ab-label {
    color: #fafafa;
}

#calibrefx-admin-bar-top .menupop.hover .ab-label {
    color: #333;
    text-shadow: none;
}

#calibrefx-admin-bar-top .menupop li:hover,
#calibrefx-admin-bar-top .menupop li.hover,
#calibrefx-admin-bar-top .quicklinks .menupop .ab-item:focus,
#calibrefx-admin-bar-top .quicklinks .ab-top-menu .menupop .ab-item:focus {
    background-color: #eaf2fa;
}

#calibrefx-admin-bar-top .ab-submenu .ab-item {
    color: #333;
    text-shadow: none;
}

#calibrefx-admin-bar-top .quicklinks .menupop ul li a,
#calibrefx-admin-bar-top .quicklinks .menupop ul li a strong,
#calibrefx-admin-bar-top .quicklinks .menupop.hover ul li a,
#calibrefx-admin-bar-top.nojs .quicklinks .menupop:hover ul li a {
    color: #21759B;
}

#calibrefx-admin-bar-top .menupop .menupop > .ab-item {
    display: block;
    background-image: url(../img/admin-bar-sprite.png?d=20111130);
    background-position: 95% -20px;
    background-repeat: no-repeat;
    padding-right: 2em;
}

#calibrefx-admin-bar-top .ab-top-secondary .menupop .menupop > .ab-item {
    background-image: url(../img/admin-bar-sprite.png?d=20111130);
    background-position: 5% -46px;
    background-repeat: no-repeat;
    padding-left: 2em;
    padding-right: 1em;
}

#calibrefx-admin-bar-top .quicklinks .menupop ul.ab-sub-secondary {
    display: block;
    position: relative;
    right: auto;
    margin: 0;

    background: #eee;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#calibrefx-admin-bar-top .quicklinks .menupop .ab-sub-secondary > li:hover,
#calibrefx-admin-bar-top .quicklinks .menupop .ab-sub-secondary > li.hover,
#calibrefx-admin-bar-top .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus {
    background-color: #dfdfdf;
}

#calibrefx-admin-bar-top .quicklinks a span#ab-updates {
    background: #eee;
    color: #333;
    text-shadow: none;
    display: inline;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#calibrefx-admin-bar-top .quicklinks a:hover span#ab-updates  {
    background: #fff;
    color: #000;
}

#calibrefx-admin-bar-top .ab-top-secondary {
    float: right;
    background-color: #464646; /* Fallback */
    background-image: -ms-linear-gradient(bottom, #373737, #464646 5px); /* IE10 */
    background-image: -moz-linear-gradient(bottom, #373737, #464646 5px); /* Firefox */
    background-image: -o-linear-gradient(bottom, #373737, #464646 5px); /* Opera */
    background-image: -webkit-gradient(linear, left bottom, left top, from(#373737), to(#464646)); /* old Webkit */
    background-image: -webkit-linear-gradient(bottom, #373737, #464646 5px); /* new Webkit */
    background-image: linear-gradient(bottom, #373737, #464646 5px); /* proposed W3C Markup */
}

#calibrefx-admin-bar-top ul li:last-child,
#calibrefx-admin-bar-top ul li:last-child .ab-item {
    border-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/**
 * My Account
*/
#wp-admin-bar-my-account > ul {
    min-width: 198px;
}

#wp-admin-bar-my-account.with-avatar > ul {
    min-width: 270px;
}

#calibrefx-admin-bar-top #wp-admin-bar-user-actions > li {
    margin-left: 16px;
    margin-right: 16px;
}

#calibrefx-admin-bar-top #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
    margin-left: 88px;
}

#wp-admin-bar-user-actions > li > .ab-item {
    padding-left: 8px;
}

#calibrefx-admin-bar-top #wp-admin-bar-user-info {
    margin-top: 6px;
    margin-bottom: 15px;
    height: auto;
    background: none;
}

#wp-admin-bar-user-info .avatar {
    position: absolute;
    left: -72px;
    top: 4px;
}

#calibrefx-admin-bar-top #wp-admin-bar-user-info a {
    background: none;
    height: auto;
}

#calibrefx-admin-bar-top #wp-admin-bar-user-info span {
    background: none;
    padding: 0;
    height: 18px;
}

#calibrefx-admin-bar-top #wp-admin-bar-user-info .display-name,
#calibrefx-admin-bar-top #wp-admin-bar-user-info .username {
    text-shadow: none;
    display: block;
}
#calibrefx-admin-bar-top #wp-admin-bar-user-info .display-name {
    color: #333;
}

#calibrefx-admin-bar-top #wp-admin-bar-user-info .username {
    color: #999;
    font-size: 11px;
}

#calibrefx-admin-bar-top .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    padding: 0;
    background: #eee;
    line-height: 24px;
    vertical-align: middle;
    margin: -3px 0 0 6px;
    float: none;
    display: inline;
}

/*
 * My Sites
*/
#calibrefx-admin-bar-top .quicklinks li img.blavatar {
    vertical-align: middle;
    margin: -3px 4px 0 0;
    padding: 0;
}

/**
 * Search
*/
#calibrefx-admin-bar-top #wp-admin-bar-search .ab-item {
    padding: 0;
}

#calibrefx-admin-bar-top #wp-admin-bar-search .ab-item {
    /* default background */
    background: transparent;
}

#calibrefx-admin-bar-top #adminbarsearch {
    height: 28px;
    padding: 0 2px;
}

#calibrefx-admin-bar-top #adminbarsearch .adminbar-input {
    font: 13px/24px sans-serif;
    height: 24px;
    width: 24px;
    border: none;
    padding: 0 3px 0 23px;
    margin: 0;
    color: #ccc;
    text-shadow: #444 0px -1px 0px;
    background-color: rgba( 255, 255, 255, 0 );
    background-image: url(../img/admin-bar-sprite.png?d=20111130);
    background-position: 3px 2px;
    background-repeat: no-repeat;
    outline: none;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
}

#calibrefx-admin-bar-top.ie7 #adminbarsearch .adminbar-input {
    margin-top: 1px;
    width: 120px;
}

#calibrefx-admin-bar-top #adminbarsearch .adminbar-input:focus {
    color: #555;
    text-shadow: 0 1px 0 #fff;
    width: 200px;
    background-color: rgba( 255, 255, 255, 0.9 );
}

#calibrefx-admin-bar-top.ie8 #adminbarsearch .adminbar-input {
    background-color: #464646;
}

#calibrefx-admin-bar-top.ie8 #adminbarsearch .adminbar-input:focus {
    background-color: #fff;
}

/* Two rules to ensure browser recognition */
#calibrefx-admin-bar-top #adminbarsearch .adminbar-input::-webkit-input-placeholder {
    color: #ddd;
}

#calibrefx-admin-bar-top #adminbarsearch .adminbar-input:-moz-placeholder {
    color: #ddd;
}

#calibrefx-admin-bar-top #adminbarsearch .adminbar-button {
    display: none;
}

/**
 * Site Menu
*/
#calibrefx-admin-bar-top #wp-admin-bar-appearance {
    border-top: none;
    margin-top: -12px;
}

/**
 * Site Menu
*/
#calibrefx-admin-bar-top #wp-admin-bar-appearance {
    border-top: none;
    margin-top: -12px;
}

/**
 * ICONS
*/
#calibrefx-admin-bar-top .ab-icon {
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 6px;
}

#calibrefx-admin-bar-top .ab-label {
    margin-left: 4px;
}

/**
 * WP Logo icon
*/
#wp-admin-bar-wp-logo > .ab-item .ab-icon {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    background-image: url(../img/admin-bar-sprite.png?d=20111130);
    background-position: 0 -76px;
    background-repeat: no-repeat;
}

#calibrefx-admin-bar-top.nojs #wp-admin-bar-wp-logo:hover > .ab-item .ab-icon,
#calibrefx-admin-bar-top #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon {
    background-position: 0 -104px;
}

/**
 * Updates icon
*/
#wp-admin-bar-updates > .ab-item .ab-icon {
    background-image: url(../img/admin-bar-sprite.png?d=20111130);
    background-position: -2px -159px;
    background-repeat: no-repeat;
}

/**
 * Comments icon
*/
#wp-admin-bar-comments > .ab-item .ab-icon {
    background-image: url(../img/admin-bar-sprite.png?d=20111130);
    background-position: -1px -134px;
    background-repeat: no-repeat;
}

#calibrefx-admin-bar-top span.count-0 {
    display: none;
}

/**
 * Add New icon
*/
#calibrefx-admin-bar-top #wp-admin-bar-new-content > .ab-item .ab-icon {
    background-image: url(../img/admin-bar-sprite.png?d=20111130);
    background-position: -2px -182px;
    background-repeat: no-repeat;
}

/**
 * Add New icon
*/
#calibrefx-admin-bar-top.nojs #wp-admin-bar-new-content:hover > .ab-item .ab-icon,
#calibrefx-admin-bar-top #wp-admin-bar-new-content.hover > .ab-item .ab-icon {
    background-position: -2px -203px;
}

/**
 * IE 6-targeted rules
*/
* html #calibrefx-admin-bar-top {
    overflow: hidden;
    position: absolute;
}

* html #calibrefx-admin-bar-top .quicklinks ul li a {
    float: left;
}

* html #calibrefx-admin-bar-top .menupop a span {
    background-image: none;
}

.aligncenter{
    margin: 0 auto;
}

.icon64{
    width: 64px;
    height: 64px;
}

/**
 * Admin Menu Style
 * @author Hilaladdiyar <hilal@calibrefx.com> 
*/
#calibrefx-admin-bar-menu .bottom-bar-left{
	float: left;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul{
	margin: 0px;
	padding: 0px;
	margin-left: -15px;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li{
	float: left;
	border-right: 1px solid #ccc;
	height: 30px;
	position: relative;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li > a{
	display: block;
	padding: 0 25px;
	text-decoration: none;
	line-height: 30px;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li:hover > a{
	color: #333;
	background-color: #fff;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li > ul{
	position: absolute;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	display: none;
	margin-left: -1px;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li:first-child > ul{
	border-left: none;
	margin-left: 0px;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li:hover > ul{
	display: block;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li > ul > li{
	height: 30px;
	width: 135px;
	background: #fff;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li > ul > li > a{
	display: block;
	line-height: 30px;
	text-decoration: none;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li > ul > li:hover{
	background: #fcfcfc;
}
#calibrefx-admin-bar-menu .bottom-bar-left > ul > li > ul > li:hover > a{
	color: #333;
}
#calibrefx-admin-bar-menu .bottom-bar-right{
	float: right;
}
#calibrefx-admin-bar-menu .bottom-bar-right .social{
	margin: 0px;
	padding: 0px;
	margin-top: 2px;
}
#calibrefx-admin-bar-menu .bottom-bar-right .social li{
	float: left;
	margin-right: 8px;
}
#calibrefx-admin-bar-menu .bottom-bar-right .social li:last-child{
	margin-right: 11px;
}
#calibrefx-admin-bar-menu .bottom-bar-right .social li a{
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/logo2.png) no-repeat -64px -4px;
}
#calibrefx-admin-bar-menu .bottom-bar-right .social li .twitter{
	background-position: -6px -5px;
}
#calibrefx-admin-bar-menu .bottom-bar-right .social li .homepage{
	background-position: -35px -5px;
}

/**
 * Twitter Latest Tweet Style 
**/
ul.twitter-tweets li {
     margin-bottom: 5px;
    font-size: 13px
}
ul.twitter-tweets li a{
    font-family: Georgia, arial;
text-decoration: none;
}
ul.twitter-tweets li span a{
    font-family: arial;

}
.twitter-logo{
	background: url(../img/icon-twitter.png) no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	display: block;
	margin-top: -3px;
	margin-right: 8px;
}

/**
 * About Page Style
**/
#calibrefx-about-page #icon-options-general.icon32{
	width: 36px;
	height: 39px;
	background: url(../img/icon-36.png) no-repeat;
	margin-top: 5px;
}





































/* OptionTree */

#framework_wrap .error {
    display: none !important;
}
#framework_wrap {
    position: relative;
    width: auto;
    margin-top: 40px;
}
#framework_wrap #header {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #6d6d6d url(../img/header-background.png) repeat-x left top;
    border: 1px solid #555;
    width: auto;
    height: 71px;
    position: relative;
}


#framework_wrap #header h1 {
    width: 150px;
    height: 31px;
    background: url(../img/logo_dark.png) no-repeat 0 0;
    text-indent: -9999px;
    margin: 20px 0 0 20px;
}
#framework_wrap #header span.icon {
    position: absolute;
    display: block;
    right: 20px;
    top: 18px;
    height: 32px;
    width: 32px;
    text-indent: -9999px;
    background: url(../img/icon_option.png) no-repeat left center;
}
#framework_wrap #header div.version {
    text-align: left;
    position: absolute;
    left: 170px;
    top: 32px;
    font-size: 9px !important;
    line-height: 10px;
    color: #444;
    font-style: normal;
    font-family: Verdana,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 0 1px 0 #888;
    letter-spacing: -0.05em;
}








#framework_wrap #content_wrap {
    border: 1px solid #aaa;
    border-top: none;
    background: #fff;
    width: auto;
    position: relative;
}
#framework_wrap #content_wrap .info {
    background: #f9f9f9;
    height: 35px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e3e3e3;
}
#framework_wrap #content_wrap .info.is-option-page {
    height: 5px;
}
.top-layout-bar {
    background: #eaf2fa;
    float: left;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    margin-top: 7px;
}
#save_theme_layout {
    margin: 5px 10px 0 0;
    padding: 5px 3px 4px 3px;
    width: 140px;
    float: left;
}
#active_theme_layout {
    float: right;
}
#framework_wrap #content_wrap .bottom {
    border-top: 1px solid #fff !important;
    border-bottom: none !important;

    background: #f1f1f1;
}
#framework_wrap #content_wrap .info input.button-framework {
    float: right;
    margin: 5px 20px 0 0;
    padding: 4px 10px;
    font-size: 11px;
    height: 24px;
}
#framework_wrap #content_wrap .info input.reset {
    margin-left: 20px;
    color: #d54e45;
    float: left;
}
#framework_wrap #content_wrap a.reset {
    margin-right: 10px;
    color: #d54e45;
}
.ajax-message {
    position: absolute;
    left: 275px;
    top: 200px;
    width: 250px;
    z-index: 100;
    display: none;
    overflow: visible;
}
#framework_wrap #content_wrap .message {
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    font-size: 14px;
    line-height: 18px;
    padding: 40px 10px;
    background: #444;
    border: 1px solid #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}
#framework_wrap #content_wrap .message span {
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    left: -8px;
    top: -8px;
    background: url(../img/icon_add.png) no-repeat 0 0;
}
#framework_wrap #content_wrap .message.warning span {
    background-image: url(../img/icon_error.png);
}
/* Primary Form Button */
#framework_wrap input.button-framework {
    cursor: pointer;
    font-size: 12px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3 url(../img/btn.png) repeat-x 0 0;
    border: 1px solid #bbb;
    padding: 5px 10px;
}
#framework_wrap input:hover.button-framework {
    color: #000;
    border-color: #666;
}
#framework_wrap a.button-framework {
    cursor: pointer;
    font-size: 12px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3 url(../img/btn.png) repeat-x 0 0;
    border: 1px solid #bbb;
    padding: 3px 10px 3px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    float: left;
    position: relative;
    left: 1px;
}
#framework_wrap div.inline-edit-save a.button-framework {
    padding: 2px 10px 2px 10px;
    font-size: 11px;
}
#framework_wrap a:hover.button-framework {
    color: #000;
    border-color: #666;
}

#framework_wrap a.button-framework.light {
    border: 1px solid #dfdfdf;
    color: #464646;
}
#framework_wrap a:hover.button-framework.light {
    color: #000;
    border-color: #adaca7;
} 




/* Content Inner */
#framework_wrap #content {
    padding: 0;
    width: auto;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
}
.screenshot {
    float: right;
    margin-left: 1px;
    position: relative;
    width: 344px;
}
.screenshot img {
    max-width: 334px;
    padding: 4px;
    border: 1px solid #ccc;
    background: #fafafa;
    border-color: #ccc #eee #eee #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: right;
}
.screenshot a {
    text-decoration: none;
    padding-left: 20px;
}
.screenshot a.remove {
    background: url(../img/icon_delete.png) no-repeat 0 0;
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    bottom: -4px;
    right: -4px;
    text-indent: -9999px;
    float: left;
    padding: 0;
    border: none;
}
.screenshot .no_image a.remove {
    left: 0;
    top: 2px;
}
.option-upload .element {
    padding-bottom: 5px;
}
#framework_wrap #content h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
#framework_wrap #content h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 14px;
}
h3.text-title {
    font: italic 20px/30px Georgia,"Times New Roman","Bitstream Charter",Times,serif !important;
}
#framework_wrap #content tbody tr.inline-edit-option td h3 {
    border-bottom-color: #ddd;
}
#framework_wrap #content .block {
    display: block;
    overflow: hidden;
    padding: 20px;
}
#framework_wrap #content p {
    font-size: 11px;
    color: #555;
    padding: 7px 0;
    margin: 0;
}
#framework_wrap #content table {
    border: 1px solid #dfdfdf;
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    font-size: 11px !important;
    text-shadow: 0 1px 0 #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#framework_wrap #content .has-table table th {
    background: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
}
tbody tr:hover {
    cursor: pointer;
}
tbody tr.inline-edit-option {
}
tbody tr.inline-edit-option td {
    background: #f1f1f1;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
tbody tr:hover.inline-edit-option {
    cursor: default;
}
#framework_wrap #content .has-table table #framework-settings .dragging {
    background: #666 url(../img/black_px.png) repeat-x 0 0;
    color: #fff;
    text-shadow: 0 1px 0 #000;
}
#framework_wrap #content .has-table table #framework-settings .dragging td {
    border-color: #000;
}
#framework_wrap #content .has-table table #framework-settings .dragging .col-edit {
    background: url(../img/icon_up_down.png) no-repeat 63px center;
}
#framework_wrap #content .has-table table #framework-settings .dragging a.edit-inline,
#framework_wrap #content .has-table table #framework-settings .dragging a.delete-inline {
    display: none;
}
.col-title {
    padding-left: 10px !important;
    width: 200px;
}
.col-type {
    width: 60px;
}
.col-edit {
    width: 45px;
    padding-left: 40px !important;
    padding-right: 0px !important;
}
.has-table table tr:first-child {
    cursor: default;
}
.has-table table .col-heading {
    background: #eaf3fa;
}
.has-table table .col-heading td:first-child {
    font-weight: bold;
    background: transparent url(../img/icon_header.png) no-repeat 10px 11px;
    padding-left: 30px !important;
}
.has-table table thead th,
.has-table table td {
    border-bottom: 1px solid #dfdfdf;
}
.has-table table tr,
.has-table table td,
.has-table table th {
    padding: 10px 10px;
    font-size: 11px !important;
}
.has-table table th {
    padding: 6px 10px;
    font-size: 11px !important;
}
#framework_wrap tr.active-layout {
    background: #eaf3fa;
}
.has-table table a {
    text-decoration: none;
}
/* Inline Edit */
.inline-edit-option {
    display: none;
}
a.edit-inline,
a.delete-inline,
a.add-option,
a.activate-saved,
a.delete-saved {
    background: url(../img/icon_edit.png) no-repeat 0 0;
    display: block;
    height: 16px;
    width: 16px;
    text-indent: -9999px;
    float: left;
    margin-right: 5px;
    display: block;
}
a.delete-inline,
a.delete-saved {
    background-image: url(../img/icon_delete.png);
}
a.add-option {
    background-image: url(../img/icon_add.png);
    margin-left: 21px;
}
a.activate-saved {
    background-image: url(../img/icon_off.png);
}
.active-layout a.activate-saved {
    background-image: url(../img/icon_on.png);
}
a:hover.edit-inline {
    border-color: #666;
}
a:hover.delete-inline {
    border-color: #d54e45;
}
#framework_wrap #content .option {
    padding-bottom: 15px;
}
#framework_wrap #content .option .section {
    overflow: hidden;
    font-size: 11px;
}
#framework_wrap #content .option .section .element {
    float: left;
    margin: 0 15px 0 0;
    width: 345px;
}
#framework_wrap #content .option-checkbox .section .element {
    width: 25px;
}
#framework_wrap #content .option .section .description {
    color: #555;
    float: left;
    font-size: 11px;
    padding: 2px 10px 0 0;
    width: 370px;
}
div.desc-text p {
    color: #555;
    font-size: 11px !important;
}
#framework_wrap #content .inline-edit-option .option .section .description {
    width: 325px;
    padding-top: 0px;
}
#framework_wrap #content .option-checkbox .section .description {
    width: 540px;
}
#framework_wrap #content label {

}
.input_wrap {
    padding: 4px 10px 12px 0;
    float: left;
    width: 350px;
}
.option-checbox .input_wrap,
.option-radio .input_wrap {
    padding: 4px 10px 4px 0;
    width: 325px;
}
.option-checbox .element {
    border: none;
    max-height: 260px;
    height: auto !important;
    height: expression( document.body.clientHeight > 260 ? "260px" : "auto" );
    overflow-y: auto;
    overflow-x: hidden;
}
.input_wrap input[type="checkbox"],
.input_wrap input[type="radio"] {
    float: left;
    width: 20px;
    margin-top: 3px;
    vertical-align: bottom;
}
.input_wrap input[type="radio"] {
    margin-top: 4px;
}
.input_wrap label {
    float: left;
    width: 325px;
}
.option-checbox .input_wrap label,
.option-radio .input_wrap label {
    width: 300px;
}
#framework_wrap #content label input {
    margin-right: 5px;
}
#framework_wrap #content input[type="text"],
#framework_wrap #content select,
#framework_wrap #content textarea,
#framework_wrap #content input.input_layout {
    background: #fafafa;
    border-color: #ccc #eee #eee #ccc;
    border-style: solid;
    border-width: 1px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size: 12px;
    margin-bottom: 9px !important;
    padding: 5px;
    width: 344px;
    display: block;
    color: #888;
    resize: none;
}
#framework_wrap #content div.css_block textarea {
    width: 594px;
}
#framework_wrap #content input.input_layout {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 250px;
    float: left;
}
#framework_wrap #content tbody tr.inline-edit-option td input[type="text"],
#framework_wrap #content tbody tr.inline-edit-option td select,
#framework_wrap #content tbody tr.inline-edit-option td textarea {
    background: #fff;
}
#framework_wrap #content input[type="text"].upload {
    width: 281px;
    float: left;
}
#framework_wrap #content input[type="text"].cp_input {
    width: 312px !important;
    float: left;
}
.cp_box {
    float: right;
    width: 25px;
    height: 25px;
    position: relative;
    top: 1px;
    border: 1px solid #ccc;
    border-color: #ccc #eee #eee #ccc;
    background: #fafafa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.cp_box div {
    width: 13px;
    height: 13px;
    border: 1px solid #bbb;
    border-color: #eee #ccc #ccc #eee;
    background: #fafafa url(../img/empty.gif);
    position: absolute;
    left: 5px;
    top: 5px;
    box-shadow: 1px 1px 0px #ccc;
    -webkit-box-shadow: 1px 1px 0px #ccc;
    -moz-box-shadow: 1px 1px 0px #ccc;
}
#framework_wrap #content .element small {
    float: left;
    font-size: 9px;
    line-height: 9px;
    color: #999;
    position: relative;
    top: -5px;
    left: 2px;
}
.upload_button,
.upload_file_button,
.ob_button {
    float: right;
    padding: 5px;
    cursor: pointer;
    color: #444;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3 url(../img/btn.png) repeat-x 0 0 !important;
    border: 1px solid #bbb;
    position: relative;
    right: -1px;
    height: 27px;
}
#framework_wrap #content select {
    height: 28px;
    padding: 4px 5px;
}
#framework_wrap #content input[type="text"]:focus,
#framework_wrap #content select:focus,
#framework_wrap #content textarea:focus,
#framework_wrap #content input[type="text"]:hover,
#framework_wrap #content select:hover,
#framework_wrap #content textarea:hover,
#framework_wrap #content input:hover.input_layout,
#framework_wrap #content input:focus.input_layout {
    background: #fff;
    border-color: #bbb #eee #eee #bbb;
    color: #333;
}
#framework_wrap *:focus { 
    outline: none; 
}
#framework_wrap *::-moz-focus-inner { 
    border: none; 
}
.bottom_btn {
    float: left;
    width: 100%;
    padding-top: 15px;
}




/* Docs */
#framework_wrap #options_tabs.docs {
    font-size: 11px !important;
    color: #555;
}
#framework_wrap code {
    font-size: 10px;
}
#framework_wrap ul.doc_list {
    font-size: 11px !important;
    padding-bottom: 20px;
}
#framework_wrap .doc_list li {
    padding-bottom: 0px;
    line-height: 12px;
    list-style: disc;
    margin-left: 16px;
}
#framework_wrap code {
    background-color: #f1f1f1;
    color: #000;
}
#framework_wrap pre {
    font-size: 13px;
    padding: 0;
    margin: 0;
    line-height: 18px;
    overflow: auto;
    overflow-Y: hidden;
    padding-top: 18px;
    background: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
    color: #000;
    white-space:pre-wrap;
    word-wrap:break-word;
}
#framework_wrap pre code {
    padding: 0 18px 18px 18px;
    display: block;
    background: url(../img/pre_bg.gif) repeat left top; /*--Background of lined paper--*/
}






/* Tabs */
#framework_wrap .options_tabs {
    display: none;
}
#framework_wrap .ui-tabs { 
    zoom: 1; 
    background: url(../img/tabs_bg.png) repeat-y 0 0;
}
#framework_wrap .ui-tabs .options_tabs {
    display: block;
}
#framework_wrap .ui-tabs-panel .description {
    width: 225px !important;
}
#framework_wrap .ui-tabs-panel .inline-edit-option .description {
    width: 200px !important;
}
#framework_wrap .ui-tabs-panel h2 {
    display: none;
}
#framework_wrap .ui-tabs .ui-tabs-nav { 
    list-style: none; 
    position: relative; 
    float: left; 
    width: 148px;
    word-wrap: break-word;
    margin: 0;
}
#framework_wrap .ui-tabs .ui-tabs-nav li { 
    position: relative; 
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    overflow: visible;
}
#framework_wrap .ui-tabs .ui-tabs-nav li a { 
    float: left; 
    text-decoration: none;
    display: block;
    width: 127px;
    padding: 8px 10px;
    border-bottom: 1px solid #e3e3e3;
    color: #21759B;
    text-shadow: 0 1px 0 #fff;
    background-image: url(../img/white_px.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    font-size: 11px;
}
#framework_wrap .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
#framework_wrap .ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover { 
    background: #fff;
    color: #d54e45;
    width: 128px;
}
#framework_wrap .ui-tabs .ui-tabs-nav li.ui-state-disabled a, 
#framework_wrap .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
    cursor: text;
}
#framework_wrap .ui-tabs .ui-tabs-nav li a, 
#framework_wrap .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
    cursor: pointer; 
}
#framework_wrap .ui-tabs .ui-tabs-nav li.ui-state-hover a {
    background-color: #eaf2fa;
    color: #555;
}
#framework_wrap .ui-tabs .ui-tabs-panel { 
    display: block;
    /*  float: right; */
    width: auto;
    min-height: 400px;
}
#framework_wrap .ui-tabs .ui-tabs-hide { 
    display: none !important; 
}
#framework_wrap .options_tabs li.ui-tabs-selected span {
    position: absolute;
    left: -1px;
    top: 12px;
    height: 9px;
    width: 8px;
    background: url(../img/icon_arrow.png) no-repeat 0 0;
}