/*------------------------------------------------------------------
Project : calibrefx
Project
Version : 0.0.1
Author : calibrefx team
URL :
--------------------------------------------------------------------

/*------------------------------------------------------------------
[. Global Styles]
------------------------------------------------------------------*/
body{
    word-wrap: break-word;
}
/*-----------------------------------------------------------------
General public
------------------------------------------------------------------*/

/** A dividing horizontal rule **/
hr.div {
    background: #CCC;
    height: 1px;
    border: none;
    margin: 10px 0;
}

/** Button Style */
.calibrefx-h2-button {
    margin: 0 0 0 4px;
    position: relative;
    top: -3px;
}

/*------------------------------------------------------------------
[. Header Styles]
------------------------------------------------------------------*/

.calibrefx-header{
    background: #f0f0f0;
    width: auto;
    height: 85px;
    margin: 30px 0 0 0px;
    position: relative;
}

.calibrefx-option-logo{
    float: left;
    background: url(../img/calibrefx-logo.png) no-repeat;
}

.calibrefx-option-logo a {
    display: block;
    height: 66px;
    width: 298px;
    text-decoration: none;
}

/*------------------------------------------------------------------
[. Sidebar Styles]
------------------------------------------------------------------*/
.calibrefx-tab{
    zoom: 1;
    position: relative;
    background: #f0f0f0;
    padding-left: 10px;
}

.calibrefx-tab ul.calibrefx-tab-option{
    list-style: none;
    width: 204px;
    word-wrap: break-word;
    margin: 0;    
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.calibrefx-tab ul.calibrefx-tab-option li{
    position: relative;
    display: block;
    margin: 0 0 8px;
    overflow: visible;
}

.calibrefx-tab ul.calibrefx-tab-option li a{
    text-decoration: none;
    display: block;
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    outline: none;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-left: none;
}

.calibrefx-tab ul.calibrefx-tab-option li:hover a,
.calibrefx-tab ul.calibrefx-tab-option li.current a{
    color: #ffffff;
    background: #00aeef;
    border: 1px solid #e3e3e3;
    border-left: none;
}

.calibrefx-tab ul.calibrefx-tab-option li span.calibrefx-section-link-additional {
    position: absolute;
    left: -10px;
    top: 0px;
    bottom: 0px;
    width: 10px;
    background: #414042;
}

.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-icon-container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 91px;
}

.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-icon-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}


.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-link{
    width: 174px;
    padding: 12px 0px 12px 15px;

}

/*------------------------------------------------------------------
[. content]
------------------------------------------------------------------*/
/* About Page Style*/
#calibrefx-about-page #icon-options-general.icon32{
    width: 36px;
    height: 39px;
    background: url(../img/icon-36.png) no-repeat;
    margin-top: 5px;
}

.clear{
    float: clear;
}

.the-team-container{
    margin-left: -2%;
}

.the-team{
    width: 31%;
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
}

.the-team h4{
    font-size: 12px !important;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

.the-team h4 a{
    text-decoration: none;
    color: #404040;
}

.the-team .image{
    float: left;
}

.the-team .frame{  
    box-shadow: none;  
    
    border: none;
    border-radius: 0px;
}

.the-team .frame .inset{
    line-height: 0;
}

.the-team .frame .inset img{
    box-shadow:inset 0px 2px 3px #333;  
    border-radius: 3px;
    width: 75px;
    height: 75px
}       

.the-team .description{
    line-height: 20px;
    margin-left: 95px;
}

.the-team .description p{
    margin: 0 0 10px;
}

/** Metabox Styles **/
.calibrefx-metaboxes{
    width: 100%;
    margin: 0px;
}

.calibrefx-metaboxes span{
    display: block;
}

.calibrefx-metaboxes input[type=text], 
.calibrefx-metaboxes textarea{
    display: block;
    padding: 7px 5px 6px;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #6b6b6b; 
}

.calibrefx-metaboxes textarea{
    width: 100%;
    min-height: 150px;
}

.calibrefx-metaboxes .fullwidth{
    width: 100%;
}

.calibrefx-metaboxes .halfwidth{
    width: 50%;
}

.calibrefx-metaboxes select{
    padding: 5px;
    height: 30px;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #6b6b6b;
}

.calibrefx-submit-button{
    margin-top: 10px;
}

.main-postbox, .side-postbox{
    width: 100%;
    float: none;
}
.side-postbox{
    margin: 0 1%;
}

.main-postbox-wider{
    width: 60%;
    float: left;
    margin: 0 10px;
}

.calibrefx-layout-selector input {
    display: none;
    text-align: center;
}
.calibrefx-layout-selector input#default-layout {
    display: inline;
}
.calibrefx-layout-selector label.box {
    display: block;
    float: left;
    margin: 10px 0 10px 0;
    text-align: center;
}
.calibrefx-layout-selector label.box img {
    max-width: 83px;
    border: 3px solid transparent;
    margin-bottom: 5px;
}
.calibrefx-layout-selector label.box img:hover {
    border: 3px solid #ddd;
}
.calibrefx-layout-selector label.box.selected img {
    border: 3px solid #ccc;
}

/* Twitter Latest Tweet Style */
ul.twitter-tweets li {
     margin-bottom: 5px;
    font-size: 13px
}
ul.twitter-tweets li a{
    font-family: Georgia, arial;
text-decoration: none;
}
ul.twitter-tweets li span a{
    font-family: arial;

}
.twitter-logo{
    background: url(../img/icon-twitter.png) no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    margin-top: -3px;
    margin-right: 8px;
}

/*-----------------------------------------------------------------
 re-style 
------------------------------------------------------------------*/
/* body[class*="calibrefx"] #wpbody{
    margin: 0px;
}

body[class*="calibrefx"] #wpfooter{
    display: none;
}

body[class*="calibrefx"] #wpbody-content{
    padding-bottom: 0px;
} */

.calibrefx-admin-page #wpcontent, .calibrefx-admin-page #wpfooter{
    /*margin-left: 160px;*/
}

.calibrefx-admin-page.branch-3-8  #wpcontent, .calibrefx-admin-page.branch-3-8  #wpfooter{
    margin-left: 160px;
}

.calibrefx-admin-page .auto-fold #wpcontent, .calibrefx-admin-page .auto-fold #wpfooter{
    margin-left: 33px;
}

#calibrefx-settings-page{
    padding: 0px;
    margin: 0px;
}


.calibrefx-content{
    border-top: none;
    background: #f0f0f0;
    position: relative;
}

.calibrefx-submit-button {
    margin: 0 12px 0 0;
    height: 40px;
    float: right;
}

.calibrefx-submit-button.calibrefx-bottom{
    padding-bottom: 10px;
}

.calibrefx-submit-button .calibrefx-h2-button {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    width: 140px;
    border-radius: 0px;
    float: right;
    border: none;
    background: #00aeef;
}

.calibrefx-submit-button .calibrefx-settings-reset-button{
    margin-right: 7px;
    color: #fff;
}

.calibrefx-submit-button .calibrefx-settings-submit-button{
    color: #fff;
    background: #008bbf;
}

span.calibrefx-info{
    display: block;
    width: 28px;
    height: 28px;
    background: url(../img/icon-info.png) no-repeat center center;
    float: right;
    margin: 10px 0px 10px 0;
}

.calibrefx-submit-button p.copyright{
    margin: 0px;
    color: #445564;
    line-height: 47px;
    float: left;
    margin-left: 27px;
}

.calibrefx-submit-button p.copyright a{
    color: #445564;
    text-decoration: none;
}

.calibrefx-submit-button p.calibrefx-site-description{
    margin: 0px;
    float: left;
    margin-left: 27px;
    padding-top: 15px;
    color: #fff;
    font-size: 14px;
    max-width: 600px;
}

.calibrefx-content .metabox-holder{
    padding: 0 !important;
    position: relative;
}

.calibrefx-content div.updated{
    margin: 0px 0 15px 0;
}

.calibrefx-content h2{
    margin: 0 2%;
    height: 0px;
    padding: 0px;
    visibility: hidden;
}
.calibrefx-admin-page #wpbody-content .metabox-holder {
    padding-top: 0px;
    border-bottom: 0px;
}

.calibrefx-option{
    margin-left: 223px;
    min-height: 411px;
    margin-right: 12px;
    background: #f0f0f0;
}

.calibrefx-option .meta-box-sortables{
    min-height: 55px;
}
.calibrefx-option label{
    display: block;
}

.calibrefx-option .postbox{
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
}

.calibrefx-option .postbox h3.hndle{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    padding: 13px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #ffffff;
    text-shadow: none;
    margin-bottom: 0px;
}

.calibrefx-option .postbox h3.hndle span{
    color: #414042;
    font-size: inherit;
}

.calibrefx-option .postbox .inside{
    padding: 0px 30px 20px;
    margin: 0px;
    background: #ffffff;
}

.calibrefx-option .postbox .handlediv{
    height: 39px;
    width: 39px;
    margin-top: 8px;
    margin-right: 8px;
}

.calibrefx-option .postbox .handlediv{
    background: url(../img/arrow-up.png) no-repeat center center;
}

.calibrefx-option .postbox.closed .handlediv{
    background: url(../img/arrow-down.png) no-repeat center center; 
}

.calibrefx-option .postbox .handlediv:before {
    display: none !important;   
}

.calibrefx-option .postbox:hover .handlediv{
    
}

.js .calibrefx-option .postbox:hover .handlediv,
.calibrefx-option .postbox:hover .handlediv {
    margin-right: 8px!important;
}

.calibrefx-option .postbox h1,
.calibrefx-option .postbox h2,
.calibrefx-option .postbox h3,
.calibrefx-option .postbox h4,
.calibrefx-option .postbox h5,
.calibrefx-option .postbox h6{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #414042;
    font-weight: 600;
    font-size: 20px;
}

.calibrefx-option .postbox p{
    margin-top: 0px;
    margin-bottom: 10px;
}

.calibrefx-option .postbox p,
.calibrefx-option .postbox span,
.calibrefx-option .postbox div{
    color: #5A5A5A;
    font-size: 14px;
}

.calibrefx-option .postbox span.description{
    margin-top: 5px;
}

.calibrefx-version{
    position: absolute;
    top: 5px;
    right: 8px;
}

.branch-3-8 #update-nag,
.branch-3-8 .update-nag{
    margin-top: 0px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

/* CalibreFX Ver1.1 Admin Style */
.postbox h3.section-title{
    padding-left: 0px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 18px;
}

.section-row:before,
.section-row:after{
    display: table;
    content: ' ';
    line-height: 0px;
}

.section-row:after{
    clear: both;
}

.section-col{
    float: left;
    width: 45%;
    border-right: 1px solid #d7d7d7;
    padding-right: 3%;
}

.section-col.last{
    border-right: none; 
    padding-left: 3%;
    padding-right: 0px;
}   

.section-col.noborder{
    border: none;
}   

.section-line{
    border-bottom: 1px solid #d7d7d7;
    padding: 13px 15px;
}

.section-line.last{
    border-bottom: none;
}

.calibrefx-option .postbox .label-highlight{
    color: #414042;
    font-size 18px;
    font-weight: bold;
    font-size: 18px;
}

.calibrefx-option .postbox .inside{
    font-size: 14px;
}

.calibrefx-option .postbox .description{
    font-style: italic;
    font-size: 14px;
    color: #5A5A5A;
    margin-bottom: 10px;
    margin-top: 0px !important;
}

.calibrefx-option .postbox .label{
    color: #414042;
}

.section-input{
    padding: 10px 0px;
}

.section-label-checkbox{
    display: inline-block;
    width: 48%;
}

.section-box{
    border: 1px solid #d7d7d7;
    padding: 13px;
}

.calibrefx_content_archive{
    width: 100%;
    display: block;
}

.calibrefx_content_archive_limit.calibrefx_content_limit_setting{
    margin-top: 15px;
}

.calibrefx_content_archive_limit.calibrefx_content_limit_setting label{
    margin-bottom: 15px;    
    display: block;
}

.calibrefx_content_archive_limit.calibrefx_content_limit_setting input{
    width: 50%;
    display: inline-block;  
    vertical-align: middle;
    margin-right: 10px;
}

#breadcrumb-settings, #content-archives-settings,
#comment-settings, #facebook-comment-settings{
    margin-bottom: 30px;
}

#post-navigation-settings{
    margin-bottom: 30px;
}

.calibrefx-option .postbox p.enable-trackback{
    padding-top: 10px;
}

.calibrefx-option #side-sortables{
    display: none;
}

#footer-script-settings{
    padding-top: 20px;
}

.calibrefx-option .postbox p.facebook-admins-settings{
    margin-bottom: 30px;
}

.calibrefx-option .postbox p.facebook-page-settings{
    margin-bottom: 60px
}

#social-link-settings .section-desc p{
    padding: 15px 0px;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 0px;
}

#social-link-settings .section-desc p:first-child {
/*  padding-top: 10px */
}   

#social-link-settings .section-desc p:last-child{
    border-bottom: none;    
}

#adminmenu .wp-menu-image img {
    width: 24px;
    margin-top: -3px;
}

.advanced-widget-options{
    display: none;
}

.advanced-widget-options p{
    margin: 0 0 2px;
}

#widgets-right .widgets-holder-wrap .advanced-widget-options .description{
    margin-top: 0px !important;
    padding: 0px;
    margin-bottom: 10px;
}

/*------------------------------------------------------------------
[. MEDIA QUERY RESPONSIVE]
------------------------------------------------------------------*/
@media only screen and (max-width: 1080px) {
    .section-label-checkbox{
        width: 56%;
    }
    span.calibrefx-info{
        height: 30px;
        background-position: 0px 0px;
        display: block;
        position: relative;
        top: -10px;
    }
}

@media only screen and (max-width: 900px) {
    #wpcontent, #footer {
        margin-left: 32px;
    }
    
    .main-postbox, .side-postbox {
        width: 96%;
        float: left;
        margin: 0 2%;
    }
    
    .calibrefx-admin-page.branch-3-8  #wpcontent, .calibrefx-admin-page.branch-3-8  #wpfooter{
        margin-left: 40px;
    }
    
    .section-col{
        float: none;
        border: none;
        width: auto;
    }
    
    .section-col.last,
    .section-col.noborder{
        padding: 20px 0px;

    }
    
    #breadcrumb-settings, #content-archives-settings,
    #comment-settings, #facebook-comment-settings{
        margin-bottom: 20px;    
    }
    
    .calibrefx-option .postbox p.facebook-page-settings {
        margin-bottom: 0px; 
    }   
    
    .calibrefx-option .postbox p.facebook-admins-settings {
        margin-bottom: 20px;    
    }
    
    #social-link-settings .section-desc p:first-child {
        padding-top: 0px;   
    }
    
    #social-link-settings .section-desc p {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    
    #main-feed-settings .section-col {
        padding: 0px 0px 5px!important;
    }   
    
    #main-feed-settings .section-col .section-desc p{
        margin-bottom: 20px;    
    }
    
    #main-feed-settings .section-col .section-desc hr.div{
        margin-bottom: 12px !important;
    }
    
    #comment-feed-settings .section-col.last{
        padding-top: 5px;
    }

}

@media only screen and (max-width: 782px) {
    .auto-fold #wpcontent{
         margin-left: 0px;
         padding: 20px;
    }
    .calibrefx-tab ul.calibrefx-tab-option {
        position: relative;
        top: 0px;
        left: 0px;
        width:  auto;
}
    
    .calibrefx-option {
        margin-left: 0px;   
        margin-right: 0px;
    }
    
    .calibrefx-admin-page.branch-3-8 #wpcontent, 
    .calibrefx-admin-page.branch-3-8 #wpfooter {
        margin-left: 0px;   
        padding-right: 10px;
    }
    
    .main-postbox{
        margin: 0px;
        width: 100%;
        float: none;
}
    
    .calibrefx-tab {
        padding-left: 0px;
    }
    
    .calibrefx-tab ul.calibrefx-tab-option li span.calibrefx-section-link-additional {
        display: none;
    }
    
    .calibrefx-tab ul.calibrefx-tab-option li {
        display: inline-block;  
        width: 33.33%;
        text-align: center;
    }
    
    .calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-link {
        width: auto;
        padding: 17px 0px;
    }   
    
    .calibrefx-tab ul.calibrefx-tab-option li a {
        border-left: 1px solid #e3e3e3;
    }
    #wpbody select{
        margin-right: 4px;
    }
    hr.div{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 720px) {
    .calibrefx-layout-selector label.box img{
        max-width: 100px;
    }
    .calibrefx-content{
        margin-top:100px ;
    }
    .calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-link{
       padding: 14px;
        font-size: 16px;
    }
}

@media (min-width: 480px) and (max-width: 719px) {
    .calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-link{
        font-size: 14px;
         padding: 14px;
    }

}

@media (min-width: 320px) and (max-width: 479px) {
    .calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-link{
        padding: 12px;
        font-size: 13px;
    }
    .calibrefx-tab ul.calibrefx-tab-option li{
       display: inline-block;
        width: 50%;
    }
    .calibrefx-submit-button .calibrefx-h2-button{
        width: auto;
        margin: 0px;
        padding: 6px 10px;
        margin-right: 10px;
        font-size: 14px;
   }
   .calibrefx-option-logo{
    margin: 0px;
    background-size: 100%;
    width: 100%;
   }

}