/** A dividing horizontal rule **/
hr.div {
    background: #CCC;
    height: 1px;
    border: none;
    margin: 10px 0;
}

/** Button Style */
.calibrefx-h2-button {
    margin: 0 0 0 4px;
    position: relative;
    top: -3px;
}

/** Metabox Styles **/
.calibrefx-metaboxes{
    width: 100%;
    margin: 0px;
}

.calibrefx-metaboxes span{
    display: block;
}

.calibrefx-metaboxes input[type=text], 
.calibrefx-metaboxes textarea{
    display: block;
	width: 100%;
    padding: 7px 5px 6px;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #6b6b6b; 
}

.calibrefx-metaboxes select{
    padding: 5px;
    height: 30px;
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #6b6b6b;
}

.calibrefx-submit-button{
    margin-top: 10px;
}

.main-postbox, .side-postbox{
    width: 48%;
    float: left;
    margin: 0 0 0 2%;
}
.side-postbox{
    margin: 0 1%;
}

.main-postbox-wider{
    width: 60%;
    float: left;
    margin: 0 10px;
}

.calibrefx-layout-selector input {
    display: none;
    text-align: center;
}
.calibrefx-layout-selector input#default-layout {
    display: inline;
}
.calibrefx-layout-selector label.box {
    display: block;
    float: left;
    margin: 10px 0 10px 0;
    text-align: center;
}
.calibrefx-layout-selector label.box img {
    max-width: 85px;
    border: 3px solid transparent;
    margin-bottom: 5px;
}
.calibrefx-layout-selector label.box img:hover {
    border: 3px solid #ddd;
}
.calibrefx-layout-selector label.box.selected img {
    border: 3px solid #ccc;
}

/**
 * Twitter Latest Tweet Style 
**/
ul.twitter-tweets li {
     margin-bottom: 5px;
    font-size: 13px
}
ul.twitter-tweets li a{
    font-family: Georgia, arial;
text-decoration: none;
}
ul.twitter-tweets li span a{
    font-family: arial;

}
.twitter-logo{
	background: url(../img/icon-twitter.png) no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	display: block;
	margin-top: -3px;
	margin-right: 8px;
}

/**
 * About Page Style
**/
#calibrefx-about-page #icon-options-general.icon32{
	width: 36px;
	height: 39px;
	background: url(../img/icon-36.png) no-repeat;
	margin-top: 5px;
}

.clear{
    float: clear;
}

.the-team-container{
    margin-left: -2%;
}

.the-team{
    width: 31%;
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
}

.the-team h4{
    font-size: 10px;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

.the-team h4 a{
    text-decoration: none;
    color: #404040;
}

.the-team .image{
    float: left;
}

.the-team .frame{  
    box-shadow:0px 0px 4px #ccc;  
    
    border: 6px solid #fff;
    border-radius: 5px;
}

.the-team .frame .inset{
    line-height: 0;
}

.the-team .frame .inset img{
    box-shadow:inset 0px 2px 3px #333;  
    border-radius: 3px;
    width: 75px;
    height: 75px
}       

.the-team .description{
    line-height: 20px;
    margin-left: 95px;
}

.the-team .description p{
    margin: 0 0 10px;
}

/* re-style */
body[class*="calibrefx"] #wpbody{
    margin: 0px;
}

body[class*="calibrefx"] #wpfooter{
    display: none;
}

body[class*="calibrefx"] #wpbody-content{
    padding-bottom: 0px;
}

#calibrefx-settings-page{
    padding: 0px;
    margin: 0px;
}

.calibrefx-header{
    background: #e9eded;
    width: auto;
    height: 90px;
    position: relative;
}

.calibrefx-option-logo{
    float: left;
    margin: 17px 0 0 28px;
    background: url(../img/calibrefx-setting-page-logo.png) no-repeat;
}

.calibrefx-option-logo a {
    display: block;
    height: 57px;
    width: 258px;
    text-decoration: none;
}

.calibrefx-content{
    border-top: none;
    background: #fff;
    position: relative;
}

.calibrefx-submit-button {
    margin: 0;
    background: #16222c;
    height: 47px;
}

.calibrefx-submit-button.calibrefx-bottom{
    background: #23303c;
}

.calibrefx-submit-button .calibrefx-h2-button {
    cursor: pointer;
    font-weight: bold;
    padding: 0 13px 0 9px;
    margin: 12px 30px 0 0;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    float: right;
    border: none;
    background: #efefef;
}

.calibrefx-submit-button .calibrefx-settings-reset-button{
    margin-right: 7px;
    color: #374756;
}

.calibrefx-submit-button .calibrefx-settings-submit-button{
    color: #fff;
    background: #008bbf;
}

.calibrefx-submit-button i{
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
}

.calibrefx-submit-button .icon-save{  
    background: url(../img/icon-save.png) no-repeat;
}

.calibrefx-submit-button .icon-reset{  
    background: url(../img/icon-reset.png) no-repeat;
}

.calibrefx-submit-button p.copyright{
    margin: 0px;
    color: #445564;
    line-height: 47px;
    float: left;
    margin-left: 27px;
}

.calibrefx-submit-button p.copyright a{
    color: #445564;
    text-decoration: none;
}

.calibrefx-submit-button p.calibrefx-site-description{
    margin: 0px;
    float: left;
    margin-left: 27px;
    padding-top: 15px;
    color: #fff;
    font-size: 14px;
    max-width: 600px;
}

.calibrefx-content .metabox-holder{
    padding: 0 !important;
    position: relative;
}

.calibrefx-content div.updated{
    margin: 0px 2% 15px 2%;
}

.calibrefx-content h2{
    margin: 0 2%;
    height: 0px;
	padding: 0px;
    visibility: hidden;
}

.calibrefx-tab{
    zoom: 1;
    position: relative;
    background: #23303c;
    padding-left: 27px;
}

.calibrefx-tab ul.calibrefx-tab-option{
    list-style: none;
    position: relative;
    width: 263px;
    word-wrap: break-word;
    margin: 0;    
    background: #008bbf url(../img/tabs_bg.jpg) repeat-y;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.calibrefx-tab ul.calibrefx-tab-option li{
    position: relative;
    display: block;
    margin: 0;
    overflow: visible;
}

.calibrefx-tab ul.calibrefx-tab-option li a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 91px;
    position: relative;
    outline: none;
}

.calibrefx-tab ul.calibrefx-tab-option li:hover,
.calibrefx-tab ul.calibrefx-tab-option li.current{
    background-color: #fff;
}

.calibrefx-tab ul.calibrefx-tab-option li:hover a,
.calibrefx-tab ul.calibrefx-tab-option li.current a{
    color: #374756;
}

.calibrefx-tab ul.calibrefx-tab-option li.current span {
    position: absolute;
    left: -8px;
    top: 0px;
    bottom: 0px;
    width: 8px;
    background: #008bbf;
}

.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-icon-container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 91px;
}

.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-icon-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-icon,
.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-icon-active{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0px 0px -16px;
    border: none;
    outline: none;
}

.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-icon-active{
    display: none;
}

.calibrefx-tab ul.calibrefx-tab-option li.current .calibrefx-section-icon,
.calibrefx-tab ul.calibrefx-tab-option li:hover .calibrefx-section-icon{
    display: none;
}

.calibrefx-tab ul.calibrefx-tab-option li.current .calibrefx-section-icon-active,
.calibrefx-tab ul.calibrefx-tab-option li:hover .calibrefx-section-icon-active{
    display: block;
}

.calibrefx-tab ul.calibrefx-tab-option li .calibrefx-section-link{
    width: 132px;
    padding: 23px 10px 23px 30px;
}

.calibrefx-admin-page #wpbody-content .metabox-holder {
    padding-top: 0px;
    border-bottom: 0px;
}

.calibrefx-admin-page #wpcontent, .calibrefx-admin-page #wpfooter{
    margin-left: 146px;
}

.calibrefx-admin-page.version-3-8  #wpcontent, .calibrefx-admin-page.version-3-8  #wpfooter{
    margin-left: 160px;
}

.calibrefx-admin-page .auto-fold #wpcontent, .calibrefx-admin-page .auto-fold #wpfooter{
    margin-left: 33px;
}

.calibrefx-option{
    margin-left: 263px;
    min-height: 411px;
    padding-bottom: 13px;
    margin-right: 30px;
    background: #ffffff;
    padding-top: 15px;
}

.calibrefx-option .meta-box-sortables{
    min-height: 55px;
}

.calibrefx-option .postbox{
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #eeeeee;
}

.calibrefx-option .postbox h3.hndle{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 5px solid #046082;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #008bbf;
    font-family: arial;
    letter-spacing: 0px;
    text-shadow: none;
    margin-bottom: 0px;
}

.calibrefx-option .postbox h3.hndle span{
    font-weight: bold;
    color: #fff;
}

.calibrefx-option .postbox .inside{
    padding: 20px;
    margin: 0px;
    background: #eeeeee;
}

.calibrefx-option .postbox .handlediv{
    height: 39px;
    width: 39px;
    background: url(../img/icon-arrow-down.png) no-repeat center center;
}

.calibrefx-option .postbox:hover .handlediv{
    background: url(../img/icon-arrow-down.png) no-repeat center center !important;
}

.calibrefx-option .postbox h1,
.calibrefx-option .postbox h2,
.calibrefx-option .postbox h3,
.calibrefx-option .postbox h4,
.calibrefx-option .postbox h5,
.calibrefx-option .postbox h6{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #6b6b6b;
}

.calibrefx-option .postbox p{
    margin-top: 0px;
    margin-bottom: 10px;
}

.calibrefx-option .postbox p,
.calibrefx-option .postbox span,
.calibrefx-option .postbox label,
.calibrefx-option .postbox div{
    color: #6b6b6b;
}

.calibrefx-option .postbox .description{
    color: #949494;
}

.calibrefx-option .postbox span.description{
    margin-top: 5px;
}

.calibrefx-version{
    position: absolute;
    top: 5px;
    right: 8px;
}

.calibrefx-ability{
    position: absolute;
    top: 50px;
    right: 30px;
    height: 25px;
    line-height: 25px;
}

.calibrefx-ability-label{
    color: #535353;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block !important;
    vertical-align: top;
}

.calibrefx-ability a{
    display: inline-block;
    width: 64px;
    height: 25px;
    outline: none;
}
.calibrefx-ability .calibrefx-ability-basic{
    background: url(../img/off-toggle.png) no-repeat;
}
.calibrefx-ability .calibrefx-ability-basic.active{
    background: url(../img/on-toggle.png) no-repeat;
}
.calibrefx-ability .calibrefx-ability-professor{
    background: url(../img/on-toggle.png) no-repeat;
}
.calibrefx-ability .calibrefx-ability-professor.active{
    background: url(../img/off-toggle.png) no-repeat;
}
.version-3-8 #update-nag{
	margin-top: 0px;
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

@media only screen and (max-width: 900px){
    #wpcontent, #footer {
        margin-left: 32px;
    }
    
    .main-postbox, .side-postbox {
        width: 96%;
        float: left;
        margin: 0 2%;
    }
}
