/*!
 *  Cfxicons 1.2.0 by @ivankristianto - https://github.com/ivankristianto
 *  License - GNU GPL v2 (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
	font-family: 'cfxicons';
	src:url('../fonts/cfxicons.eot?-bi6gff');
	src:url('../fonts/cfxicons.eot?#iefix-bi6gff') format('embedded-opentype'),
		url('../fonts/cfxicons.woff?-bi6gff') format('woff'),
		url('../fonts/cfxicons.ttf?-bi6gff') format('truetype'),
		url('../fonts/cfxicons.svg?-bi6gff#cfxicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="cfxicon-"], [class*=" cfxicon-"] {
	font-family: 'cfxicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cfxicon-layoutsetting:before {
	content: "\e601";
}

.cfxicon-generalsetting:before {
	content: "\e602";
}

.cfxicon-pagebuilder:before {
	content: "\e603";
}

.cfxicon-home2:before {
	content: "\e001";
}

.cfxicon-image2:before {
	content: "\e02c";
}

.cfxicon-bookmark2:before {
	content: "\e2e3";
}

.cfxicon-bookmarks2:before {
	content: "\e2e5";
}

.cfxicon-heart2:before {
	content: "\e307";
}

.cfxicon-github2:before {
	content: "\e4ba";
}

.cfxicon-wordpress:before {
	content: "\e4be";
}

.cfxicon-linkedin2:before {
	content: "\e4cf";
}

.cfxicon-home:before {
	content: "\e900";
}

.cfxicon-image:before {
	content: "\e90d";
}

.cfxicon-camera:before {
	content: "\e90f";
}

.cfxicon-play:before {
	content: "\e912";
}

.cfxicon-enlarge:before {
	content: "\e989";
}

.cfxicon-shrink:before {
	content: "\e98a";
}

.cfxicon-lock:before {
	content: "\e98f";
}

.cfxicon-unlocked:before {
	content: "\e990";
}

.cfxicon-cog:before {
	content: "\e994";
}

.cfxicon-bookmark:before {
	content: "\e9d2";
}

.cfxicon-bookmarks:before {
	content: "\e9d3";
}

.cfxicon-star-empty:before {
	content: "\e9d7";
}

.cfxicon-star-full:before {
	content: "\e9d9";
}

.cfxicon-heart:before {
	content: "\e9da";
}

.cfxicon-heart-broken:before {
	content: "\e9db";
}

.cfxicon-cross:before {
	content: "\ea0f";
}

.cfxicon-checkmark:before {
	content: "\ea10";
}

.cfxicon-share2:before {
	content: "\ea82";
}

.cfxicon-facebook2:before {
	content: "\ea8d";
}

.cfxicon-twitter2:before {
	content: "\ea92";
}

.cfxicon-feed3:before {
	content: "\ea95";
}

.cfxicon-youtube:before {
	content: "\ea97";
}

.cfxicon-youtube3:before {
	content: "\ea99";
}

.cfxicon-vimeo2:before {
	content: "\ea9d";
}

.cfxicon-flickr3:before {
	content: "\eaa2";
}

.cfxicon-picassa2:before {
	content: "\eaa5";
}

.cfxicon-dropbox:before {
	content: "\eaaf";
}

.cfxicon-github:before {
	content: "\eab1";
}

.cfxicon-github4:before {
	content: "\eab4";
}

.cfxicon-wordpress2:before {
	content: "\eab7";
}

.cfxicon-tumblr2:before {
	content: "\eabc";
}

.cfxicon-android:before {
	content: "\eac1";
}

.cfxicon-linkedin:before {
	content: "\eac8";
}

.cfxicon-pinterest2:before {
	content: "\ead1";
}

.cfxicon-paypal2:before {
	content: "\ead7";
}

.cfxicon-calibreworks:before {
	content: "\ca";
}

.cfxicon-calibrefx:before {
	content: "\cf";
}

