/*
    Standard stylesheet for Calibrefx shortcodes
*/

/* Images
------------------------------------------------------------ */
img.img-with-animation {
	opacity: 0;
	position: relative;
}

img.img-with-animation[data-animation="grow-in"] {
	opacity: 0.1;
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -webkit-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -moz-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
    -o-transition: opacity 0.6s cubic-bezier(0.15, 0.84, 0.35, 1.25);
}

img.img-with-animation[data-animation="fade-in-from-left"] {
	left: -40px;
	padding-right: 30px;
}

img.img-with-animation[data-animation="fade-in-from-right"] {
	right: -40px;
	padding-left: 30px;
}

img.img-with-animation[data-animation="fade-in-from-bottom"] {
	bottom: -100px;
}

img.img-with-animation[data-animation="fade-in-from-left"], img.img-with-animation[data-animation="fade-in-from-right"] {
	margin: 0 auto;
}

/* Divider
------------------------------------------------------------ */

.cfx-divider {
	height: 20px;
}

.cfx-divider-border {
	border-bottom: 1px solid #ddd;
	margin: 35px 0px 35px 0px;
}

.cfx-divider-small-border {
	border-bottom: 1px solid #ddd;
	margin: 25px auto 25px auto;
	width: 20%;
}

/* Google Map
------------------------------------------------------------ */
.infowindow{
    max-width: 300px;
    margin: 0 0 40px -40px ;
}

.infowindow_inner{
    border-left: 8px solid #b44925;
    background-color: rgba(126, 63, 42, 0.9);
    padding: 10px 10px;
    min-height: 100px;
}
.infowindow_inner .map_label_heading{
    color: #ffffff;
    font-size: 16px;
}
.infowindow_inner .map_label_address{
    color: #fff;
    font-size: 14px;
}

/* Button
------------------------------------------------------------ */
.btn-shadow{
    background: #1e73be  ;
    box-shadow: 0 3px 0px #0f5089  ;
}
.btn-shadow:focus,
.btn-shadow:active{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transform: translate3d(0, 3px, 0);
    -moz-transform: translate3d(0, 3px, 0);
    -ms-transform: translate3d(0, 3px, 0);
    -o-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
    background: #1e73be  ;
}